body {
    font-family: Arial;
    background-color: aquamarine;
    text-align: center;
}

h1 {
    color: gray;
}

table {
    background-color: whitesmoke;
    width: 50%;
}

td {
    padding: 10px;
    text-align: left;
}

button {
    padding: 3mm;
    margin: 6mm;
}